<component name="ArtifactManager">
  <artifact build-on-make="true" name="plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/plugin</output-path>
    <root id="root">
      <element id="directory" name="server">
        <element id="archive" name="OpenCoverRunner-Common.jar">
          <element id="module-output" name="OpenCoverRunner-common" />
        </element>
        <element id="archive" name="OpenCoverRunner.jar">
          <element id="module-output" name="OpenCoverRunner-server" />
        </element>
      </element>
      <element id="file-copy" path="$PROJECT_DIR$/teamcity-plugin.xml" />
      <element id="directory" name="agent">
        <element id="archive" name="OpenCoverRunner.zip">
          <element id="directory" name="OpenCoverRunner">
            <element id="directory" name="lib">
              <element id="archive" name="OpenCoverRunner-Common.jar">
                <element id="module-output" name="OpenCoverRunner-common" />
              </element>
              <element id="archive" name="OpenCoverRunner.jar">
                <element id="module-output" name="OpenCoverRunner-agent" />
              </element>
            </element>
          </element>
        </element>
      </element>
    </root>
  </artifact>
</component>