<component name="ArtifactManager">
  <artifact build-on-make="true" name="plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/plugin</output-path>
    <root id="root">
      <element id="directory" name="server">
        <element id="archive" name="OpenCoverRunner-Common.jar">
          <element id="module-output" name="OpenCoverRunner-common" />
        </element>
        <element id="archive" name="OpenCoverRunner.jar">
          <element id="module-output" name="OpenCoverRunner-server" />
        </element>
      </element>
      <element id="file-copy" path="$PROJECT_DIR$/teamcity-plugin.xml" />
    </root>
  </artifact>
</component>